<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.helloworld.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.helloworld.common.domain.Category">
    <id column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cid, cname
  </sql>
  <select id="selectByExample" parameterType="com.demo.springboot.helloworld.common.domain.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where cid = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.helloworld.common.domain.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.helloworld.common.domain.Category">
    insert into category (cid, cname)
    values (#{cid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.helloworld.common.domain.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.helloworld.common.domain.CategoryExample" resultType="java.lang.Long">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set cid = #{record.cid,jdbcType=VARCHAR},
      cname = #{record.cname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.helloworld.common.domain.Category">
    update category
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.helloworld.common.domain.Category">
    update category
    set cname = #{cname,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultType="com.demo.springboot.helloworld.common.domain.Category">
    select * from category;
  </select>
  <select id="selectById" resultType="com.demo.springboot.helloworld.common.domain.Category">
    select * from category where cid = #{id} and cname = #{name};
  </select>
  <select id="selectByMyExample" resultMap="myMap">
    select cid,cname from category where cid = #{cate.id} and cname = #{cate.name};
  </select>
  <resultMap id="myMap" type="com.demo.springboot.helloworld.common.domain.Category">
    <!--怎么映射-->
    <id column="cid" property="id"/><!--主键映射-->
    <result column="cname" property="name"/><!--普通字段映射-->
  </resultMap>
  <delete id="deleteByIds" parameterType="java.util.List">
    /*delete from category where cid in (xx,xx,xx)*/
    /*执行 遍历 操作：动态sql*/
    delete from category where cid in
    <foreach collection="list" item="str" open="(" close=")" separator=",">
      #{str}
    </foreach>
   </delete>
  <select id="selectByIdCopy" resultMap="myMapCopy">
    SELECT * FROM category c,products p
    WHERE c.`cid` = p.`category_id` AND c.`cid`=#{cid};
  </select>
  <resultMap id="myMapCopy" type="com.demo.springboot.helloworld.common.domain.Category" extends="BaseResultMap">
    <!--如何映射一个实体类中的list-->
    <collection property="list" ofType="com.demo.springboot.helloworld.common.domain.Product">
      <id column="pid" jdbcType="VARCHAR" property="pid" />
      <result column="pname" jdbcType="VARCHAR" property="pname" />
      <result column="price" jdbcType="INTEGER" property="price" />
      <result column="flag" jdbcType="VARCHAR" property="flag" />
      <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    </collection>
  </resultMap>
</mapper>