<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.helloworld.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.helloworld.common.domain.Shop">
    <id column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_main_bussiness" jdbcType="VARCHAR" property="shopMainBussiness" />
    <result column="shop_star" jdbcType="DOUBLE" property="shopStar" />
    <result column="shop_dsp" jdbcType="VARCHAR" property="shopDsp" />
    <result column="shop_loc" jdbcType="VARCHAR" property="shopLoc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_id, user_id, shop_name, shop_main_bussiness, shop_star, shop_dsp, shop_loc
  </sql>
  <select id="selectByExample" parameterType="com.demo.springboot.helloworld.common.domain.ShopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shopId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop
    where shop_id = #{shopId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.springboot.helloworld.common.domain.ShopExample">
    delete from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.helloworld.common.domain.Shop">
    insert into shop (shop_id, user_id, shop_name, 
      shop_main_bussiness, shop_star, shop_dsp, 
      shop_loc)
    values (#{shopId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, 
      #{shopMainBussiness,jdbcType=VARCHAR}, #{shopStar,jdbcType=DOUBLE}, #{shopDsp,jdbcType=VARCHAR}, 
      #{shopLoc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.helloworld.common.domain.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopMainBussiness != null">
        shop_main_bussiness,
      </if>
      <if test="shopStar != null">
        shop_star,
      </if>
      <if test="shopDsp != null">
        shop_dsp,
      </if>
      <if test="shopLoc != null">
        shop_loc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopMainBussiness != null">
        #{shopMainBussiness,jdbcType=VARCHAR},
      </if>
      <if test="shopStar != null">
        #{shopStar,jdbcType=DOUBLE},
      </if>
      <if test="shopDsp != null">
        #{shopDsp,jdbcType=VARCHAR},
      </if>
      <if test="shopLoc != null">
        #{shopLoc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.springboot.helloworld.common.domain.ShopExample" resultType="java.lang.Long">
    select count(*) from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop
    <set>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopMainBussiness != null">
        shop_main_bussiness = #{record.shopMainBussiness,jdbcType=VARCHAR},
      </if>
      <if test="record.shopStar != null">
        shop_star = #{record.shopStar,jdbcType=DOUBLE},
      </if>
      <if test="record.shopDsp != null">
        shop_dsp = #{record.shopDsp,jdbcType=VARCHAR},
      </if>
      <if test="record.shopLoc != null">
        shop_loc = #{record.shopLoc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop
    set shop_id = #{record.shopId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_main_bussiness = #{record.shopMainBussiness,jdbcType=VARCHAR},
      shop_star = #{record.shopStar,jdbcType=DOUBLE},
      shop_dsp = #{record.shopDsp,jdbcType=VARCHAR},
      shop_loc = #{record.shopLoc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.helloworld.common.domain.Shop">
    update shop
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopMainBussiness != null">
        shop_main_bussiness = #{shopMainBussiness,jdbcType=VARCHAR},
      </if>
      <if test="shopStar != null">
        shop_star = #{shopStar,jdbcType=DOUBLE},
      </if>
      <if test="shopDsp != null">
        shop_dsp = #{shopDsp,jdbcType=VARCHAR},
      </if>
      <if test="shopLoc != null">
        shop_loc = #{shopLoc,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.helloworld.common.domain.Shop">
    update shop
    set user_id = #{userId,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_main_bussiness = #{shopMainBussiness,jdbcType=VARCHAR},
      shop_star = #{shopStar,jdbcType=DOUBLE},
      shop_dsp = #{shopDsp,jdbcType=VARCHAR},
      shop_loc = #{shopLoc,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=BIGINT}
  </update>
  <select id="getsellerId" parameterType="java.lang.Integer" resultType="java.lang.Long">
    select user_id as sellerId from shop where shop_id=#{shopId,jdbcType=BIGINT};
  </select>
  <select id="getLoc" parameterType="java.lang.Integer" resultType="java.lang.String">
    select shop_loc as shopLoc from shop where shop_id=#{shopId,jdbcType=BIGINT}
  </select>
</mapper>