<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="M_Adnan" />
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <!-- Favicon  -->
  <link rel="icon" href="/img/core-img/favicon.ico">
  <link href="/icofont/icofont.min.css" rel="stylesheet">
  <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- Document Title -->
  <title>Home</title>

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
  <!-- StyleSheets -->
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link href="/icofont/icofont.min.css" rel="stylesheet">
  <link href="/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- Fonts Online -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- JavaScripts -->
  <script src="/js/vendors/modernizr.js"></script>
  <script src="/js/jquery-3.1.1.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>

<!-- Page Wrapper -->
<div id="wrap">

  <!-- Header -->
  <header class="header">
    <!-- Nav -->
    <nav class="navbar ownmenu">
      <!-- Categories -->




      <!-- Navbar Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
      </div>
      <!-- NAV -->
      <div class="collapse navbar-collapse" id="nav-open-btn">
        <ul class="nav">

          <div class="logo"> <a href="/"><img style="height: 60px; width: 60px" src="/img/logo.png" alt="" ></a> </div>
          <div class="h2"style="margin-top: 20px">Snail Go</div>

        </ul>
      </div>

      <!-- NAV RIGHT -->
      <div class="nav-right">
        <a href="/user/MyInformation"><i class="fa fa-user"></i> <span id="login"></span><strong><span id="test"></span></strong> </a>
        <a href="/"><i class="fa fa-comment"></i><strong>消息</strong></a>
        <a href="/cart"> <i class="fa fa-shopping-cart"></i></a>
      </div>

    </nav>
    <!--

    --><div class="container">
    <div class="cate-lst" style="float: left"> <a  data-toggle="collapse" class="cate-style" href="#cater"><i class="fa fa-list-ul"></i> 所有分类 </a>
      <div class="cate-bar-in">
        <div id="cater" class="collapse">
          <ul>

            <li class="sub-menu"><a href="#.">男装</a>
              <ul>
                <li><a href="#."> 上衣</a></li>
                <li><a href="#."> 下装</a></li>
                <li><a href="#."> 包</a>
                <li><a href="#."> 配饰</a>
              </ul>
            </li>
            <li class="sub-menu"><a href="#.">女装</a>
              <ul>
                <li><a href="#."> 上衣</a></li>
                <li><a href="#."> 下装</a></li>
                <li><a href="#."> 包</a>
                <li><a href="#."> 配饰</a>
              </ul>
            </li>
            <li class="sub-menu"><a href="#.">数码3C</a>
              <ul>
                <li><a href="#.">平板电脑</a></li>
                <li><a href="#.">移动电话</a></li>
                <li><a href="#.">台式机</a>
                <li><a href="#.">配件</a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-cate">
      <form action="/goods/search" target=_parent>
        <select class="selectpicker">
          <option> 分类</option>
          <option> 男装</option>
          <option> 女装</option>
          <option> 数码3C</option>
        </select>
        <input type="search" name="search_key" placeholder="在此输入你想要的商品">
        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
      </form>
    </div>
    <!-- Cart Part -->

  </div>
  </header>
  
  <!-- Linking -->
  <div class="linking">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><span class="tags" th:text="${goodsdetails[0].goodsTag}"></span></li>
        <li class="active"><span class="tag" th:text="${goodsdetails[0].goodsName}"></span></li>
      </ol>
    </div>
  </div>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="padding-top-40 padding-bottom-60">
      <div class="container">
        <div class="row"> 
          

          
          <!-- Products -->
          <div class="col-lg-12">
            <div class="product-detail">
              <div class="product">
                <div class="row"> 
                  <!-- Slider Thumb -->
                  <div class="col-xs-5">
                    <article class="slider-item on-nav">
                      <div class="thumb-slider">
                        <ul class="slides">
                          <li th:data-thumb="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-1.jpg'"> <img th:src="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-1.jpg'" alt="Product Image"> </li>
                          <li th:data-thumb="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-2.jpg'"> <img th:src="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-2.jpg'" alt="Product Image"> </li>
                          <li th:data-thumb="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-3.jpg'"> <img th:src="'/goods_pics/'+${goodsdetails[0].goodsId}+'-pic-3.jpg'" alt="Product Image"> </li>
                        </ul>
                      </div>
                    </article>
                  </div>
                  <!-- Item Content -->
                  <div class="col-xs-7"> <span class="tags" th:text="${goodsdetails[0].goodsTag}"></span>
                    <h4 th:text="${goodsdetails[0].goodsName}"></h4>
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="row">
                      <div class="col-sm-6"><span class="price" th:text="'¥'+${goodsdetails[0].goodsPrice}"> </span></div>
                      <div class="col-sm-6">
                        <p>库存 <span class="in-stock" th:text="${goodsdetails[0].goodsRemaning}"></span></p>
                      </div>
                    </div>
                    <!-- List Details -->
                    <p>
                      <span th:text="${goodsdetails[0].goodsDsp}"></span>
                    </p>
                    <!-- Colors -->
                    <div class="row">
                      <div class="col-xs-5">
                        <div class="clr"> <span style="background:#068bcd"></span> <span style="background:#d4b174"></span> <span style="background:#333333"></span> </div>
                      </div>
                      <!-- Sizes -->
                      <div class="col-xs-7">
                        <div class="sizes"> <a href="#.">S</a> <a class="active" href="#.">M</a> <a href="#.">L</a> <a href="#.">XL</a> </div>
                      </div>
                    </div>
                    <!-- Compare Wishlist -->

                    <!-- Quinty -->
                    <div class="row" style="margin-top: 100px">
                    <div class="quinty col-sm-6">
                      <input type="number" value="01">

                    </div>
                      <div class="col-sm-4" style="display:inline-block;">

                        <a href="#." class="btn-round"><i class="icon-basket-loaded margin-right-5"></i>加入购物车</a>
                      </div>
                    <div class="col-sm-4" style="display:inline-block;">

                      <a href="#." class="btn-round"><i class="icofont-pay margin-right-5"></i>立即购买</a>
                    </div>


                  </div>

                </div>
              </div>
              
              <!-- Details Tab Section-->
              <div class="item-tabs-sec"> 
                
                <!-- Nav tabs -->
                <ul class="nav" role="tablist">
                  <li role="presentation" class="active"><a href="#pro-detil"  role="tab" data-toggle="tab">商品详情</a></li>
                  <li role="presentation"><a href="#cus-rev"  role="tab" data-toggle="tab">用户评价</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="pro-detil"> 
                    <!-- List Details -->
                    <p class="tags" th:text="${goodsdetails[0].goodsDsp}"></p>

                  <div role="tabpanel" class="tab-pane fade" id="cus-rev"></div>
                  <div role="tabpanel" class="tab-pane fade" id="ship"></div>
                </div>
              </div>
            </div>
            
            <!-- Related Products -->
            <section class="padding-top-30 padding-bottom-0"> 
              <!-- heading -->
              <div class="heading">
                <h2>相关商品</h2>
                <hr>
              </div>
              <!-- Items Slider -->
              <div class="item-slide-4 with-nav"> 
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-1.jpg" alt="" >
                    <!-- Content --> 
                    <span class="tag">Latop</span> <a href="#." class="tittle">Laptop Alienware 15 i7 Perfect For Playing Game</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00 </div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-2.jpg" alt="" > <span class="sale-tag">-25%</span>
                    
                    <!-- Content --> 
                    <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo Slim Con 8GB</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00 <span>$200.00</span></div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-3.jpg" alt="" >
                    <!-- Content --> 
                    <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch </a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00</div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-4.jpg" alt="" > <span class="new-tag">New</span>
                    
                    <!-- Content --> 
                    <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico Bluetooth Con Air Mouse</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00</div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-5.jpg" alt="" >
                    <!-- Content --> 
                    <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7" 128GB full HD</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00</div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-6.jpg" alt="" > <span class="sale-tag">-25%</span>
                    
                    <!-- Content --> 
                    <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo Slim Con 8GB</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00 <span>$200.00</span></div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-7.jpg" alt="" >
                    <!-- Content --> 
                    <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch </a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00</div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
                
                <!-- Product -->
                <div class="product">
                  <article> <img class="img-responsive" src="/images/item-img-1-8.jpg" alt="" > <span class="new-tag">New</span>
                    
                    <!-- Content --> 
                    <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico Bluetooth Con Air Mouse</a> 
                    <!-- Reviews -->
                    <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
                    <div class="price">$350.00</div>
                    <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Your Recently Viewed Items -->
    <section class="padding-bottom-60">
      <div class="container"> 
        
        <!-- heading -->
        <div class="heading">
          <h2>Your Recently Viewed Items</h2>
          <hr>
        </div>
        <!-- Items Slider -->
        <div class="item-slide-5 with-nav"> 
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-1.jpg" alt="" >
              <!-- Content --> 
              <span class="tag">Latop</span> <a href="#." class="tittle">Laptop Alienware 15 i7 Perfect For Playing Game</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00 </div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-2.jpg" alt="" > <span class="sale-tag">-25%</span>
              
              <!-- Content --> 
              <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo Slim Con 8GB</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00 <span>$200.00</span></div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-3.jpg" alt="" >
              <!-- Content --> 
              <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch Bluetooh </a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00</div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-4.jpg" alt="" > <span class="new-tag">New</span>
              
              <!-- Content --> 
              <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico Bluetooth Con Air Mouse</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00</div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-5.jpg" alt="" >
              <!-- Content --> 
              <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7" 128GB full HD</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00</div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-6.jpg" alt="" > <span class="sale-tag">-25%</span>
              
              <!-- Content --> 
              <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo Slim Con 8GB</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00 <span>$200.00</span></div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-7.jpg" alt="" >
              <!-- Content --> 
              <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart Watch M26 Touch Bluetooh </a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00</div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
          
          <!-- Product -->
          <div class="product">
            <article> <img class="img-responsive" src="/images/item-img-1-8.jpg" alt="" > <span class="new-tag">New</span>
              
              <!-- Content --> 
              <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico Bluetooth Con Air Mouse</a> 
              <!-- Reviews -->
              <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span></p>
              <div class="price">$350.00</div>
              <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Clients img -->
    <section class="light-gry-bg clients-img">
      <div class="container">
        <ul>
          <li><img src="/images/c-img-1.png" alt="" ></li>
          <li><img src="/images/c-img-2.png" alt="" ></li>
          <li><img src="/images/c-img-3.png" alt="" ></li>
          <li><img src="/images/c-img-4.png" alt="" ></li>
          <li><img src="/images/c-img-5.png" alt="" ></li>
        </ul>
      </div>
    </section>
    
    <!-- Newslatter -->
    <section class="newslatter">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Subscribe our Newsletter <span>Get <strong>25% Off</strong> first purchase!</span></h3>
          </div>
          <div class="col-md-6">
            <form>
              <input type="email" placeholder="Your email address here...">
              <button type="submit">Subscribe!</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End Content --> 
  
  <!-- Footer -->
  <footer>
    <div class="container"> 
      
      <!-- Footer Upside Links -->
      <div class="foot-link">
        <ul>
          <li><a href="#."> About us </a></li>
          <li><a href="#."> Customer Service </a></li>
          <li><a href="#."> Privacy Policy </a></li>
          <li><a href="#."> Site Map </a></li>
          <li><a href="#."> Search Terms </a></li>
          <li><a href="#."> Advanced Search </a></li>
          <li><a href="#."> Orders and Returns </a></li>
          <li><a href="#."> Contact Us</a></li>
        </ul>
      </div>
      <div class="row"> 
        
        <!-- Contact -->
        <div class="col-md-4">
          <h4>Contact SmartTech!</h4>
          <p>Address: 45 Grand Central Terminal New York, NY 1017
            United State USA</p>
          <p>Phone: (+100) 123 456 7890</p>
          <p>Email: Support@smarttech.com</p>
          <!-- Social Links -->
          <div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>
        </div>

        <!-- Categories -->
        <div class="col-md-3">
          <h4>Categories</h4>
          <ul class="links-footer">
            <li><a href="#.">Home Audio & Theater</a></li>
            <li><a href="#."> TV & Video</a></li>
            <li><a href="#."> Camera, Photo & Video</a></li>
            <li><a href="#."> Cell Phones & Accessories</a></li>
            <li><a href="#."> Headphones</a></li>
            <li><a href="#."> Video Games</a></li>
            <li><a href="#."> Bluetooth & Wireless</a></li>
          </ul>
        </div>
        
        <!-- Categories -->
        <div class="col-md-3">
          <h4>Customer Services</h4>
          <ul class="links-footer">
            <li><a href="#.">Shipping & Returns</a></li>
            <li><a href="#."> Secure Shopping</a></li>
            <li><a href="#."> International Shipping</a></li>
            <li><a href="#."> Affiliates</a></li>
            <li><a href="#."> Contact </a></li>
          </ul>
        </div>
        
        <!-- Categories -->
        <div class="col-md-2">
          <h4>Information</h4>
          <ul class="links-footer">
            <li><a href="#.">Our Blog</a></li>
            <li><a href="#."> About Our Shop</a></li>
            <li><a href="#."> Secure Shopping</a></li>
            <li><a href="#."> Delivery infomation</a></li>
            <li><a href="#."> Store Locations</a></li>
            <li><a href="#."> FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Rights -->
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright &copy; 2017.Company name All rights reserved.</p>
        </div>
        <div class="col-sm-6 text-right"> <img src="/images/card-icon.png" alt=""> </div>
      </div>
    </div>
  </div>
  
  <!-- End Footer --> 
  
  <!-- GO TO TOP  --> 
  <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 
  <!-- GO TO TOP End --> 
</div>
<!-- End Page Wrapper -->
<script src="/js/vendors/jquery/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    bsCustomFileInput.init();
  });

  var decodedCookie = decodeURIComponent(document.cookie);
  console.log(decodedCookie.substring(decodedCookie.indexOf('=')+1));
  $.ajax({
    type: "GET",
    url: "/user/information",
    // data:JSON.stringify(dataObj) ,
    // data:{
    //     userEmail:userEmail
    // },
    contentType: "application/json; charset=utf-8",
    // dataType: "json",
    success: function (res, ifo) {
      binaryFile = res.UserInfo[0].userImg;
      console.log("返回图片"+res.UserInfo[0].userImg);
      $('#preview').attr('src',res.UserInfo[0].userImg);
      $("#emailInput").attr('value',res.UserInfo[0].userAdmin);
      // $("#passwordInput").attr('value',res.UserInfo[0].userPassword);
      $("#userNameindex").attr('value',res.UserInfo[0].userName);
      $("#test").html(res.UserInfo[0].userName);
      $("#userId").html(res.UserInfo[0].userId);
      console.log((res.UserInfo[0].userId))
      switch (Number(res.UserInfo[0].usersex)) {
        case 0:
          $("#sex").val('保密');
          break;
        case 1:
          $("#sex").val('男');
          break;
        case 2:
          $("#sex").val('女');
          break;
        default:
          break;
      }
      $("#birthDate").attr('value',res.UserInfo[0].userBirthdate);
      $("#phoneNumber").attr('value',res.UserInfo[0].userPhonenumber);
      $("#introduction").attr('value',res.UserInfo[0].userIntroduction);

      $("#balance").html(res.UserFinance[0].balance);
      $("#level").html(res.UserLevel[0].level);
      $("#point").html(res.UserLevel[0].points);
      switch (res.UserInfo[0].userTag) {
        case false:
          $("#identity").html("买家");
          break;
        case true:
          $("#identity").html("买家");
          break;
        default:
          break;
      }
      console.log(res);
    },
    fali:function () {
      console.log("错误")
    },
    error:function () {
      console.log("报错")
    }
  });


</script>
<!-- JavaScripts -->
<script src="/js/vendors/jquery/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/MyInfoJs/GoodsHistory.js"></script>
<script src="/js/vendors/jquery/jquery.min.js"></script>
<script src="/js/vendors/wow.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/vendors/own-menu.js"></script>
<script src="/js/vendors/jquery.sticky.js"></script>
<script src="/js/vendors/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.tp.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/vendors/jquery.nouislider.min.js"></script>
<script>
jQuery(document).ready(function($) {
  
 
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 1000 ]
    },
    start: [40, 940],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      
        decimals: 2,
        prefix: '$'
      }
        }
  })
})

</script>
</body>
</html>
