<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="M_Adnan" />
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <!-- Favicon  -->
  <link rel="icon" href="/img/core-img/favicon.ico">

  <!-- Document Title -->
  <title>搜索结果</title>

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />
  <!-- StyleSheets -->
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link href="/icofont/icofont.min.css" rel="stylesheet">
  <link href="/boxicons//css/boxicons.min.css" rel="stylesheet">
  <!-- Fonts Online -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/fontawesome-free/css/all.min.css">
  <!-- JavaScripts -->
  <script src="/js/vendors/modernizr.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body class="sidebar-collapse">
<div class="wrapper">

  <!-- Navbar -->
  <header class="header">
    <!-- Nav -->
    <nav class="navbar ownmenu">
      <!-- Categories -->
      <!-- Navbar Header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
      </div>
      <!-- NAV -->
      <div class="collapse navbar-collapse" id="nav-open-btn">
        <ul class="nav">

          <div class="logo"> <a href="/"><img style="height: 60px; width: 60px" src="/img/logo.png" alt="" ></a> </div>
          <div class="h2"style="margin-top: 20px">Snail Go</div>

        </ul>
      </div>

      <!-- NAV RIGHT -->
      <div class="nav-right">
        <a href="/user/MyInformation"><i class="fa fa-user"></i> <strong>个人中心</strong> </a>
        <a href="/"><i class="fa fa-comment"></i><strong>消息</strong></a>
        <a href="/cart"> <i class="fa fa-shopping-cart"></i></a>
      </div>

    </nav>
    <!--

    --><div class="container">
    <div class="cate-lst" style="float: left"> <a  data-toggle="collapse" class="cate-style" href="#cater"><i class="fa fa-list-ul"></i> 所有分类 </a>
      <div class="cate-bar-in">
        <div id="cater" class="collapse">
          <ul>

            <li class="sub-menu"><a href="#.">男装</a>
              <ul>
                <li><a href="#."> 上衣</a></li>
                <li><a href="#."> 下装</a></li>
                <li><a href="#."> 包</a>
                <li><a href="#."> 配饰</a>
              </ul>
            </li>
            <li class="sub-menu"><a href="#.">女装</a>
              <ul>
                <li><a href="#."> 上衣</a></li>
                <li><a href="#."> 下装</a></li>
                <li><a href="#."> 包</a>
                <li><a href="#."> 配饰</a>
              </ul>
            </li>
            <li class="sub-menu"><a href="#.">数码3C</a>
              <ul>
                <li><a href="#.">平板电脑</a></li>
                <li><a href="#.">移动电话</a></li>
                <li><a href="#.">台式机</a>
                <li><a href="#.">配件</a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-cate">
      <form action="/goods/search" target=_parent>
        <select class="selectpicker" name="goods_tag">
          <option value="'" disabled="disabled"> 分类</option>
          <option value="男装"> 男装</option>
          <option value="女装"> 女装</option>
          <option value="3C"> 数码3C</option>
        </select>
        <input type="search" name="search_key" placeholder="在此输入你想要的商品">
        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
      </form>
    </div>
    <!-- Cart Part -->

  </div>
  </header>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="ml-lg-2 text-dark" style="margin-left: 120px"><i class="fas fa-info-circle">未找到相关商品！</i></h3>
          </div><!-- /.col -->

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  </div>

</div>
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<!-- End Page Wrapper -->
<script type="text/javascript">
  $(document).ready(function () {
    bsCustomFileInput.init();
  });

  var decodedCookie = decodeURIComponent(document.cookie);
  console.log(decodedCookie.substring(decodedCookie.indexOf('=')+1));

</script>
<script src="/MyInfoJs/MyInfo.js"></script>
<!-- JavaScripts -->
<script src="/js/vendors/jquery/jquery.min.js"></script>
<script src="/js/vendors/wow.min.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/vendors/own-menu.js"></script>
<script src="/js/vendors/jquery.sticky.js"></script>
<script src="/js/vendors/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.tp.min.js"></script>
<script src="/js/main.js"></script>
<!-- ##### Footer Area End ##### -->
</body>
</html>