<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login/Registration Form Transition</title>
  
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="css/login/style.css">

  
</head>

<body>
  <p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back,</h2>
    <form th:action="@{../login}" >
    <label>
      <span>Email</span>
      <input type="email" name="userAdmin"/>
    </label>
      <div th:text="${errorMsg5}" style="color:red;margin-left: 40%"></div>
    <label>
      <span>Password</span>
      <input type="password" name="userPassword"/>
    </label>
      <div th:text="${errorMsg6}" style="color:red;margin-left: 40%"></div>
    <div>
      <div th:text="${errorMsg}" style="color:red;margin-left: 40%"></div>
    </div>

    <button type="submit" class="submit">Sign In</button>
    </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <form th:action="@{../signUp}">
      <label>
        <span>Name</span>
        <input type="text" name="userName"/>
      </label>
        <div th:text="${errorMsg3}" style="color:red;margin-left: 40%"></div>
      <label>
        <span>Email</span>
        <input type="email" name="emailAddress"/>
      </label>
        <div th:text="${errorMsg1}" style="color:red;margin-left: 40%"></div>
        <div th:text="${errorMsg4}" style="color:red;margin-left: 40%"></div>
      <label>
        <span>Password</span>
        <input type="password" name="userPassword"/>
      </label>
        <div th:text="${errorMsg2}" style="color:red;margin-left: 40%"></div>
        <br/>
        <div >
          <br/>
        <input type="radio" id="radioIdentity1" value="0" name="identity"
               style="display: inline;width: 10%;margin-left: 30%" checked>
        <label for="radioIdentity1" style="display:inline;width: 10%">
          买家
        </label>
        <input type="radio" id="radioIdentity2" value="1"  name="identity" style="display:inline;width: 10%">
        <label for="radioIdentity2" style="display:inline;width: 10%">
          卖家
        </label>
    </div>
      <button type="submit" class="submit">Sign Up</button>

      </form>
    </div>
  </div>
</div>

<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>
  
    <script src="js/login/index.js"></script>

</body>
</html>
